<% include partials/header %>




<form method="post" action="/links">
<div class="form-group">
  <input type="text" name="q" class="form-control" placehold="Shorten a link">
  </div>
  <input type='submit' value='Do it' class='btn btn-primary'>
</form>











<% include partials/footer %>